.allRoot {
    width: 100%;
    padding-top: 40px;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: nowrap; */
    max-width: 1000px;
    /* min-width: 450px; */
    margin: 0 auto;
}

.pageRoot {
    text-align: left;
    position: inline-block
}

.pageRoot h2 {
    /* max-width: 200px; */
    padding: 0.0% 0 0 4%;
}

.pageRoot h3 {
    /* max-width: 200px; */
    padding: 0.5% 0 0.5% 2%;
}

.pageRoot p {
    padding-bottom: 20px;
    margin: 0 4% 0 4%;
    font-size: 20px;
    line-height: 30px;
}